.nav-list {
  height: 40px;
  background: rgb(173, 165, 165);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.nav-list-text {
  list-style: none;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.container-all-info {
  display: flex;
  height: 76vh;
}

.device-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.btn-close {
  float: right;
}

.container-list {
  width: 50%;
  height: 108%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.search-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-list button {
  background: rgb(173, 169, 169);
  border: none;
  height: 3rem;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.container-search h2 {
  text-decoration: gray;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.container-search input {
  border: 2px solid gray;
  outline: none;
  border-radius: 5px;
  padding: .4rem;
}

.container-table {
  font-size: 1rem;
  line-height: 1.5rem;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.container-table thead {
  background: rgb(173, 169, 169);
  padding: 2rem;
}

.container-table tr {
  border: 1px solid gray;
  border-right: none;
  cursor: pointer;
}

.container-table td {
  border: 2px solid gray;
  text-align: center;
  overflow: hidden;
  table-layout: fixed;
  white-space: nowrap;
  border-right: none;
}

.container-table td:nth-child(1) {
  border-left: none;
}

.container-pagination {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.container-pagination button {
  border: 2px solid black;
  border-radius: 5px;
  background: gray;
  margin-right: .2rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.container-info {
  width: 50%;
  /* height: 83.4vh; */
  height: 108%;
  border-left: 4px solid rgb(107, 89, 89);
}

.container-info .title {
  display: flex;
  align-items: center;
  background-color: #064d94;
  height: 15vh;
  color: #f5f5f5;
  font-size: 18px;
  padding: 1em;
}

.container-info .title svg {
  height: 2.5em;
  width: 2.5em;
  padding: 0.8em;
}

.container-info .title h1 {
  color: white;
  margin: 0;
}

.container-info .device-info {
  display: flex;
  justify-content: space-between;
}

.container-info .device-info .device-info-list {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: .6rem;
}

.container-info .device-info .device-category {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.category-large {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 1.5rem;
}

.category-large > p {
  margin: 0.4rem 0;
}

.nav-device-list {
  list-style: none;
  height: 40px;
  background: rgb(173, 165, 165);
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 1rem;
  font-weight: bold;
}

.container-info .device-info .device-category-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-info .device-info .device-category-item input {
  margin-block-start: 1em;
  margin-block-end: 1em;
  height: 21.6px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 4rem;
}

.footer-info p {
  margin: 0.4rem 0;
}

.btn-primary {
  width: 200px;
  height: 45px;
  margin-bottom: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.btn-primary:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.btn-danger {
  width: 200px;
  height: 45px;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(207, 60, 34);
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.btn-danger:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(230, 160, 30) 0%,
    rgb(190, 22, 16) 100%
  );
  transition: all 0.4s ease-out;
}

.footer-info-inactive {
  display: flex;
  justify-content: flex-end;
}

.list_setting {
  display: flex;
  justify-content:first baseline;
  align-items: center;
}

.list_setting > p {
  width: 20%;
  margin: 0.8rem 0;
  font-size: 1.4rem;
}

.form_setting_input {
  width: 40%;
}

.form_setting_inputs {
  width: 80%;
}

.user-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-user-info {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-input {
  padding-left: 10px;
  outline: none;
  height: 40px;
  width: 40%;
  border: 2px solid rgb(55, 81, 131);
  border-radius: 10px;
}